/* 
    GraPa - Subtle CSS Gradient Patterns 
    LESS Mixins
    https://github.com/simurai/GraPa
    
    Usage:      
        @import "grapa.less";
        .css-class { 
            .grapa-[nr]( color, size ); 
        }
            
    Example:  
        @import "grapa.less";
        .css-class { 
            .grapa-5 ( hsl(0,0%,95%), 30px ); 
        }
            
*/
