
/* If you're looking for the CSS for the patterns, see grapa.css */

@import url(http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold);
@import url(http://fonts.googleapis.com/css?family=Terminal+Dosis);

html {}
body { 
	margin: 0;
	text-align: center;
	font: 13px/18px "Droid Sans", "Lucida Grande", Lucida, Verdana, sans-serif;
}


/* Buttons ------------------------------------------------- */

section > div {
    display: inline-block;
	position: relative;
    width: 200px;
    height: 100px;
    margin: 12px;
    border-radius: 50px;
    box-sizing: border-box;
    box-shadow: inset 0 0 0 4px hsla(0,0%,100%,.5),
                0 0 0 4px hsla(0,0%,0%,.1);    
	background-attachment: fixed;
	cursor: pointer;
}


section > div:hover {
    box-shadow: 0 0 0 4px hsla(0,0%,0%,.1);    
}




/* Info ------------------------------------------------- */

section {
	padding: 100px;
}


footer {
    position: relative;
	padding: 50px;
	background-color: hsla(0,0%,6%,.9);
}
article {
	max-width: 500px;
	margin: 0 auto;
	color: #555555;
	text-align: left;
	border-radius: 20px;
}
h1 {
	margin: 0;
	color: hsla(0,0%,30%,1);
	font-size: 80px;
	line-height: 1.8em;
	font-family: 'Terminal Dosis', sans-serif;
}
h2 {
	color: hsl(312, 100%, 76%);
	margin: 0 0 50px 0;
	font-size: 30px;
	line-height: 1.2em;
	font-weight: normal;
	font-style: normal;
	font-family: 'Terminal Dosis', sans-serif;
}

a {
	text-decoration: none;
	color: hsl(212, 100%, 76%);
}
a:hover {
	color: hsl(212, 100%, 90%);
}
a:active {
	color: hsl(212, 50%, 56%);
}
p {
	margin-bottom: 20px;
	text-shadow: 0 1px hsla(0,0%,0%,.2);
}
strong {
	font-weight: normal;
	color: #999;
}
